.pokemon-list {
  font-size: 2rem;
  font-weight: 300;
  height: 80vh;
  overflow: scroll;
  text-align: center;
  scrollbar-arrow-color: greenyellow;
  text-transform: capitalize;
}

.pokemon-list::-webkit-scrollbar {
  display: none;
}

.pokemon-name {
  cursor: pointer;
}
