.nav-bar {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:first-child {
  margin-left: 20px;
}

.nav-item {
  margin-right: 10px;
}

/* .nav-link:hover {
  border-bottom: 1px solid salmon;
  color: salmon;
} */

.nav-link.active {
  border-bottom: 1px solid salmon;
  color: salmon;
}
